
/* #Primary
================================================== */

@font-face{font-family:mini_serif_regular;src:url(../fonts/VI_MINI_Serif_Regular.otf)}
@font-face{font-family:mini_serif_bold;src:url(../fonts/VI_MINI_Serif_Bold.otf)}
@font-face{font-family:mini_sans_regular;src:url(../fonts/VI_MINI_Sans_Serif_Regular.otf)}
@font-face{font-family:mini_sans_bold;src:url(../fonts/VI_MINI_Sans_Serif_Bold.otf)}

body{
    font-family: 'mini_serif_regular', serif;
    font-weight:400;
    font-size: .87rem;
    line-height: 1.75;
    color: #646464;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'mini_serif_bold', serif;
    font-weight:400;
    margin-bottom: 0.6rem;
    line-height: 1.25;
    color: #212121;
}
h1, .h1 {
    font-size: 2.8rem;
    font-weight:500;
}
h2, .h2 {
    font-size: 2.3rem;
}
h3, .h3 {
    font-size: 2rem;
}
h4, .h4 {
    font-size: 1.7rem;
}
h5, .h5 {
    font-size: 1.25rem;
    font-weight:500;
}
h6, .h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight:600;
    margin-bottom: 1rem;
}
a:focus,
a:hover,
a:active,
a:active:focus,
a:active:hover{
    color: black;
}
a{
    color: #646464;
}
.fa{
    font-size: x-large !important;
}
.btn {
    font-family: 'mini_sans_regular', sans-serif;
    line-height: 1.25;
    padding: 0.8rem 1.4rem;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 0.15rem;
    cursor:pointer;
    border:none;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
}
.btn-long {
    padding: 0.8rem 2rem;
}
.btn-primary {
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover {
    box-shadow: none;
    color: #fff;
}
.btn-round {
    border-radius: 30px;
}
.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    line-height: normal;
}
.btn-primary.btn-simple {
    background-color: transparent;
}
.btn-primary.btn-simple:hover{
    color: #fff;
}
.btn-primary.btn-dark.btn-simple:hover{
    color: white;
    background-color: black;
}
.btn.btn-default {
    color:#fff;
    background-color: #777;
}
.btn.btn-primary {
}
.btn-link {
    font-weight: 400;
    color: #666;
    border-radius: 0;
    padding: 0.4rem 0.6rem;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-link:focus,
.btn-link:hover {
    text-decoration: none;
    opacity:.8;
    color: #666;
    background-color: transparent;
}
.btn-link.btn-primary  {
}
.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.form-control {
    font-family: 'mini_serif_regular', serif;
    font-weight:400;
    font-size: .8rem;
    line-height: 1.25;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    height: auto;
    color: white;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    outline: none;
    color: white;
}
.form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}
.navbar {
    padding: 0.8rem 2rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0.125rem;
}
.navbar .nav-item {
    margin-left: 2px;
    margin-right: 2px;
}
.navbar-brand {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1rem;
    font-family: 'mini_sans_regular', sans-serif;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #fff;
    font-family: 'mini_sans_regular', sans-serif;
    font-size: .75rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity:1;
    display: block;
    border-radius: 0.125rem;
    padding: 0.8em 1em;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.navbar-inverse .navbar-nav .nav-link i {
    font-size: 1rem;
    line-height: 1.2rem;
}
.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #323232;
}
.nav-link:hover {
    background-color: rgba(255,255,255,0.2);
}
.bg-inverse {
    background-color: #060606 !important;
}
.navbar-toggler {
    cursor: pointer;
    padding: 6px 0.75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*
    overflow: auto; !* Enable scroll if needed *!
    */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Video Hover Image */

.video-section {
    position: relative;
    width:100%;
    margin:0 auto;
    max-width:800px;
}
.video-wrapper, figure.vimeo, figure.youtube {
    margin:0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.youtube a img, figure.vimeo a img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    max-width:none;
}
figure.vimeo a:after, figure.youtube a:after {
    content:"";
    width:60px;
    height:60px;
    background:#fff;
    z-index:9;
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -30px;
    border-radius:50%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.25);
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 700ms linear;
    transition: all 500ms linear;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
    box-shadow: 0px 0px 0px 1000px rgba(255,255,255,0.1);
}
figure.vimeo a:before, figure.youtube a:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index:10;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-3px;
    margin-top:-7px;
    display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
figure.vimeo:hover a:before, figure.youtube:hover a:before {
    border-left: 10px solid #fff;
}
figure.vimeo a:hover img, figure.youtube a:hover img {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
figure.vimeo a img, figure.youtube a img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    a -webkit-transform: scale(1);
    transform: scale(1);
}
.btn-link{
    cursor: pointer;
}
.section {
    position:relative;
    width:100%;
}
.over-hide{
    overflow:hidden;
}
.full-height {
    height:100vh;
}
.padding-top-bottom {
    padding-top:120px;
    padding-bottom:120px;
}
.padding-top {
    padding-top:120px;
}
.padding-bottom {
    padding-bottom:120px;
}
.padding-top-bottom-big {
    padding-top:160px;
    padding-bottom:160px;
}
.padding-top-big {
    padding-top:160px;
}
.padding-bottom-big {
    padding-bottom:160px;
}
.padding-top-bottom-small {
    padding-top:80px;
    padding-bottom:80px;
}
.padding-top-small {
    padding-top:80px;
}
.padding-bottom-small {
    padding-bottom:80px;
}
.padding-top-bottom-smaller {
    padding-top:40px;
    padding-bottom:40px;
}
.padding-top-smaller {
    padding-top:40px;
}
.padding-bottom-smaller {
    padding-bottom:40px;
}
.padding-top-bottom-1 {
    padding-top:1px;
    padding-bottom:1px;
}
.background-white {
    background-color:#ffffff;
}
.background-grey {
    background-color:#fbfbfb;
}
.background-dark {
    background-color:#212121;
}
.background-image-cover {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.grey-fade-over{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#323232;
    opacity:.3;
    z-index:300;
}
.rounded-2 {
    border-radius: 0.5rem;
}
.color-white {
    color:#fff;
}
.color-black {
    color:#000000;
}
.img-wrap  {
    position:relative;
    width:100%;
}
.img-wrap img {
    width:100%;
    display:block;
}
.z-bigger  {
    z-index:1000;
}
.text-center {
    text-align:center;
}

/* #Template navigation
================================================== */
#menu-wrap{
    position: fixed;
    width:100%;
    z-index:1;
    margin:0 auto;
    top:0;
    left:0;
}
#menu-wrap .navbar-brand img{
    display: block;
    max-height: 50px;
    width: auto;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
#menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img{
    max-height: 40px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header {
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink {
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.black-menu-background-1st-trans {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-shadow{
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.04);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.black-menu-background-1st-trans {
    background-color: rgba(0, 0, 0, 0.92);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-fixed-padding-small {
    padding-top: 30px;
    padding-bottom: 10px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small-same {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header .navbar {
    padding: 0.8rem 0;
    box-shadow: none;
    border-radius: 0;
}
.cbp-af-header .navbar-toggler-left {
    left: 0;
}
.cbp-af-header .navbar-toggler-right {
    right: 0;
}
.cbp-af-header .navbar-toggler {
    padding: 6px 0;
}
@media (max-width: 991px) {
    .nav-top-bar {
        display: none;
    }
    .nav-line-top {
        border-top: 1px solid rgba(255, 255, 255, 0);
    }
    .scroll-to-top {
        top: auto;
        bottom: 20px;
        right: 20px;
        width:30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
    #menu-wrap{
        position: relative;
        top:auto;
        left:auto;
    }
    #menu-wrap .navbar-brand img,
    #menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img{
        max-height: 20px;
    }
    .black-menu-background-1st-trans {
        background-color: rgba(0, 0, 0, 1);
    }
    .white-menu-background-1st-trans {
        background-color: rgba(255, 255, 255, 1);
    }
    .white-menu-background-no-trans {
        background-color: rgba(255, 255, 255, 1);
    }
    .cbp-af-header.cbp-af-header-shrink.black-menu-background-1st-trans {
        background-color: rgba(0, 0, 0, 1);
    }
    .cbp-af-header.cbp-af-header-shrink.white-menu-background-1st-trans {
        background-color: rgba(255, 255, 255, 1);
    }
    .cbp-af-header.cbp-af-header-shrink.white-menu-background-no-trans {
        background-color: rgba(255, 255, 255, 1);
    }
    .cbp-af-header .bg-inverse.not-transparent {
        background-color: rgba(0, 0, 0, 0) !important;
        padding: 0.8rem 0;
    }
    .cbp-af-header.cbp-af-header-shrink .bg-inverse.not-transparent {
        background-color: rgba(0, 0, 0, 0) !important;
        padding: 0.8rem 0;
    }
    .menu-fixed-padding {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-fixed-padding-small {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-fixed-padding-small-same {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cbp-af-header.cbp-af-header-shrink.menu-fixed-padding {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small-same {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cbp-af-header.cbp-af-header-shrink.menu-shadow{
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0);
    }

    .dropdown-menu.dark .drop-mega-menu li{
        border-right: none;
    }
    .drop-mega-menu li.half-menu{
        width:100%;
    }
    .icons-item-menu .ml-4 {
        margin-left: 0 !important;
    }
    .navbar .nav-item.icons-item-menu .nav-link {
        padding: 0.8em 1.2em;
        font-size: .65rem;
        line-height: 1.2rem;
        height: auto;
    }
    .navbar .nav-item.icons-item-menu .nav-link i {
        font-size: .9rem;
    }
    .navbar .nav-item.icons-item-menu .dropdown-menu {
        width:100%;
    }
    .dropdown .dropdown-menu {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform:none;
        transform: none;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: none;
    }
    .dropdown.show .dropdown-menu,
    .dropdown-menu.open {
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: none;
    }
    .dropdown.show .dropdown-menu {
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: none;
    }
    .dropdown-menu {
        margin-bottom:20px;
        box-shadow: none;
    }
}
@media (min-width: 992px) {
    .drop-mega-menu {
        width: 932px;
        max-width: 100%;
    }
    .container-fluid.max-width-95 .drop-mega-menu {
        width: calc(95vw - 30px);
        max-width: 100%;
    }
    .container-fluid.max-width-90 .drop-mega-menu {
        width: calc(90vw - 30px);
        max-width: 100%;
    }
    .container-fluid.max-width-85 .drop-mega-menu {
        width: calc(85vw - 30px);
        max-width: 100%;
    }
    .container-fluid.max-width-80 .drop-mega-menu {
        width: calc(80vw - 30px);
        max-width: 100%;
    }
    .container-fluid.max-width-75 .drop-mega-menu {
        width: calc(75vw - 30px);
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .mt-xl-6 {
        margin-top: 8rem !important;
    }
    .mb-xl-6 {
        margin-bottom: 8rem !important;
    }
}

/* #Hero Sections & Template style
================================================== */
.hero-center-wrap{
    position:absolute;
    width:100%;
    top:50%;
    left:0;
    z-index:20;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-center-wrap.z-bigger{
    z-index: 1002;
}
.hero-center-wrap.move-top-2{
    margin-top: -20px;
}
.main-title{
    margin-bottom: 4.5rem;
}
.main-title h2,
.main-title h3,
.main-title h4,
.main-title h5{
    max-width: 800px;
    width: 100%;
    text-transform: capitalize;
}
.main-title.on-dark h2,
.main-title.on-dark h3,
.main-title.on-dark h4,
.main-title.on-dark h5{
    color: #fff;
}
.main-title.text-center h2,
.main-title.text-center h3,
.main-title.text-center h4,
.main-title.text-center h5{
    margin: 0 auto;
}
.main-subtitle-top{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-subtitle-bottom.on-light{
    color: #999;
}
.main-subtitle-bottom{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #afafaf;
    font-weight: 500;
    letter-spacing: 1px;
}
.main-subtitle-bottom.smaller{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.main-title.on-dark .main-subtitle-bottom{
    color: #d5d5d5;
}
.clear {
    clear: both;
    display: block;
    height:0;
    width: 100%;
}
.hero-slider-wrap {
    position:relative;
    width:100%;
}
#hero-sync1 .item {
    position: relative;
    width: 100%;
    display: block;
}
#hero-sync2 {
    position:absolute;
    bottom:40px;
    left:40px;
    max-width: 650px;
    width: 100%;
    z-index:1;
}
#hero-sync2 .item{
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    opacity: 0.4;
    -webkit-transition : all 0.2s ease-out;
    -moz-transition : all 0.2s ease-out;
    -o-transition :all 0.2s ease-out;
    transition : all 0.2s ease-out;
}
#hero-sync2 .item p{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    font-family: 'mini_sans_regular', sans-serif;
}
#hero-sync2 .item p span{
    opacity: 0.7;
    vertical-align: text-bottom;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#hero-sync2 .item h5{
    font-size: 1.0rem;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'mini_sans_regular', sans-serif;
}
#hero-sync2 .item h5 span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    overflow: hidden;
}
#hero-sync2 .item h5 span:before{
    position: absolute;
    content: '';
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    z-index: 1;
    -webkit-transition : all 0.2s ease-out;
    -moz-transition : all 0.2s ease-out;
    -o-transition :all 0.2s ease-out;
    transition : all 0.2s ease-out;
}
#hero-sync2 .item:hover h5 span:before {
    left: 0;
}
#hero-sync2 .synced .item h5 span:before {
    left: 0;
}
#hero-sync2 .item:hover {
    opacity: 1;
}
#hero-sync2 .synced .item {
    opacity: 1;
}
.drop-shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}

/*Model Part*/
.row-model {
    display: flex;
    flex-wrap: wrap;
}
.col-model {
    flex: 1 0 18%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1500px){
    .col-model {
        flex: 1 0 18%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1300px){
    .col-model {
        flex: 1 0 18%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1050px){
    .col-model {
        flex: 1 0 36%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 991px){
    .col-model {
        flex: 1 0 54%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .col-model {
        flex: 1 0 54%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.model{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.model:hover{
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

.tabs-back{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0rem;
}
.tabs-back.bg-tab-white {
    background-color: #fff;
}
.nav.nav-tabs{
    position:relative;
    padding: 1.4rem;
    border: none;
    border-bottom: 0px solid rgba(0,0,0,0);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.bg-tab-primary .nav.nav-tabs{
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.nav-tabs .nav-item {
    position:relative;
    margin-bottom: -1px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav-tabs .nav-link {
    position:relative;
    border: 0px solid transparent;
    border-radius: 0rem;
    font-size: 13px;
    line-height: 22px;
    color: #777;
    padding: 0.7rem 1.4rem;
    margin: 0 4px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

/*FixButton*/
#fixButton{
    position:fixed;
    right:0;
    top:50%;
    margin-top:-40px;
    z-index:1;
}
#fixButton>div{
    float:right;
    clear:both;
}
#fixButton a{
    display:block;
    clear:both;
    font-size:12px;
    height:36px;
    overflow:hidden;
    margin-bottom:5px;
    width:auto;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
#fixButton a img{
    float:left;
    height:36px;
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}
#fixButton a span{
    color:#fff;
    background:black;
    line-height:36px;
    padding:0 0px;
    float:left;
    text-transform:uppercase;
    display:block;
    width:0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
#fixButton a:hover span{
    width:auto;
    opacity:1;
    padding:0 10px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;}


/* #Blog
================================================== */

.grid-wraper{
    position: relative;
    width: 100%;
    display: block;
}
.grid-wraper.drop-shadow{
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.3);
}
.grid-wraper.with-margin{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
}
.grid-wraper:after {
    content: '';
    display: block;
    clear: both;
}
.grid-box{
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}
.grid-box.visible{
    overflow: visible;
}
.grid-box.float-inline{
    float: left;
    display: inline-block;
}
.grid-box.float-inline.right-inline{
    float: right;
}
.grid-box.with-margin{
    margin: 15px;
    width: calc(100% - 30px);
}
.grid-box.half{
    width: 50%;
}
.grid-box.half.with-margin{
    margin: 15px;
    width: calc(50% - 30px);
}
.grid-box.third{
    width: 33.33333333333333333333333%;
}
.grid-box.third.with-margin{
    margin: 15px;
    width: calc(33.33333333333333333333333% - 30px);
}
.grid-box.quarter{
    width: 25%;
}
.grid-box.quarter.with-margin{
    margin: 15px;
    width: calc(25% - 30px);
}
.grid-box.fifth{
    width: 20%;
}
.grid-box.fifth.with-margin{
    margin: 15px;
    width: calc(20% - 30px);
}

.blog-box-1 img.blog-home-img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    margin-right: 0;
}
.blog-box-1 img.blog-home-img:hover{
    -webkit-transform: scale(1.04) translateY(-5px);
    -moz-transform: scale(1.04) translateY(-5px);
    -ms-transform: scale(1.04) translateY(-5px);
    -o-transform: scale(1.04) translateY(-5px);
    transform: scale(1.04) translateY(-5px);
}
.blog-box-1 img{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
.blog-box-1 a{
    text-decoration: none;
}
.blog-box-1 a h5{
    color: #212121;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.blog-box-1.drop-shadow{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.blog-box-1{
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 2.5rem;
}
.author-wrap{
    position: relative;
    width: 100%;
    display: block;
}
.author-wrap p{
    display: inline-block;
    font-size: 0.84rem;
}
.background-white {
    background-color:#ffffff;
}
.over-hide{
    overflow:hidden;
}

.padding-in{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* #Media
================================================== */

@media (max-width: 1500px) {
    .grid-box.fifth{
        width: 25%;
    }
    .grid-box.fifth.with-margin{
        width: calc(25% - 30px);
    }
    .hero-text-studio h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .hero-bottom-wrap{
        bottom: -20px;
    }
}
@media (max-width: 1300px) {
    .grid-box.quarter{
        width: 33.33333333333333333%;
    }
    .grid-box.quarter.with-margin{
        width: calc(33.3333333333333333% - 30px);
    }
    .grid-box.fifth{
        width: 33.333333333333333333333%;
    }
    .grid-box.fifth.with-margin{
        width: calc(33.333333333333333333333% - 30px);
    }
    .hero-text.big-text h1{
        font-size: 5.5rem;
        line-height: 4.5rem;
    }
    .hero-text.big-text p{
        font-size:14px;
    }

}
@media (max-width: 1050px) {
    .grid-box.third{
        width: 50%;
    }
    .grid-box.third.with-margin{
        width: calc(50% - 30px);
    }
    .grid-box.quarter{
        width: 50%;
    }
    .grid-box.quarter.with-margin{
        width: calc(50% - 30px);
    }
    .grid-box.fifth{
        width: 50%;
    }
    .grid-box.fifth.with-margin{
        width: calc(50% - 30px);
    }
    .hero-text-studio h2{
        font-weight:700;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
    .hero-text h2.typed{
        font-size: 2rem;
        line-height: 2rem;
    }

}
@media (max-width: 991px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3 {
        font-size: 1.7rem;
    }
    h4, .h4 {
        font-size: 1.5rem;
    }
    h5, .h5 {
        font-size: 1.2rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }

    .hero-center-wrap.move-bottom{
        margin-top: 0;
    }
    .full-height {
        height:calc(100vh - 68px);
    }

    .navbar-nav{
        padding-top: 15px;
    }
    .navbar .nav-item {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu {
        position: relative;
        top: auto;
        opacity: 1;
        box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0);
        padding: 0.8rem;
        border-radius: 0;
        visibility: visible;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu.right {
        left: auto;
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu.left {
        right: auto;
    }
    .dropdown-menu .sub-menu-wrap:after {
        display: none;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    .hero-text p{
        font-size:12px;
    }
    .hero-text p span{
        padding:6px 8px;
    }
    .hero-text.big-text h1{
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .hero-text.big-text p{
        font-size:14px;
    }

    .hero-text-studio h2{
        font-weight:700;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .hero-text-studio p{
        font-size:15px;
        font-weight:400;
    }
    #hero-sync2 .item {
        display: none;
    }

}
@media (max-width: 767px) {
    h1, .h1 {
        font-size: 2.2rem;
    }
    h2, .h2 {
        font-size: 1.8rem;
    }
    h3, .h3 {
        font-size: 1.5rem;
    }
    h4, .h4 {
        font-size: 1.3rem;
    }
    h5, .h5 {
        font-size: 1.1rem;
    }
    h6, .h6 {
        font-size: 0.85rem;
    }

    .grid-box.half{
        width: 100%;
    }
    .grid-box.half.with-margin{
        width: calc(100% - 30px);
    }
    .grid-box.third{
        width: 100%;
    }
    .grid-box.third.with-margin{
        width: calc(100% - 30px);
    }
    .grid-box.quarter{
        width: 100%;
    }
    .grid-box.quarter.with-margin{
        width: calc(100% - 30px);
    }
    .grid-box.fifth{
        width: 100%;
    }
    .grid-box.fifth.with-margin{
        width: calc(100% - 30px);
    }
    .hero-text.big-text h1{
        font-size: 2.5rem;
        line-height: 2rem;
        font-weight: 700;
    }
    .hero-text.big-text p{
        font-size:13px;
    }
    .hero-text h2.typed{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .hero-bottom-wrap h2{
        line-height: 0.9;
    }

}
