
/* #Primary
================================================== */

@font-face{font-family:mini_serif_regular;src:url(../fonts/VI_MINI_Serif_Regular.otf)}
@font-face{font-family:mini_serif_bold;src:url(../fonts/VI_MINI_Serif_Bold.otf)}
@font-face{font-family:mini_sans_regular;src:url(../fonts/VI_MINI_Sans_Serif_Regular.otf)}
@font-face{font-family:mini_sans_bold;src:url(../fonts/VI_MINI_Sans_Serif_Bold.otf)}

body{
    font-family: 'mini_serif_regular', serif;
    font-weight:400;
    font-size: .87rem;
    line-height: 1.75;
    color: #646464;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'mini_serif_bold', serif;;
    font-weight:400;
    margin-bottom: 0.6rem;
    line-height: 1.25;
    color: #212121;
}
h1, .h1 {
    font-size: 2.8rem;
    font-weight:500;
}
h2, .h2 {
    font-size: 2.3rem;
}
h3, .h3 {
    font-size: 2rem;
}
h4, .h4 {
    font-size: 1.7rem;
}
h5, .h5 {
    font-size: 1.25rem;
    font-weight:500;
}
h6, .h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight:600;
    margin-bottom: 1rem;
}
a:focus,
a:hover,
a:active,
a:active:focus,
a:active:hover{
    color: black;
}
a{
    color: #646464;
}
.fa{
    font-size: x-large !important;
}
.btn {
    font-family: 'mini_sans_regular', sans-serif;
    line-height: 1.25;
    padding: 0.8rem 1.4rem;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 0.15rem;
    cursor:pointer;
    border:none;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
}
.btn-long {
    padding: 0.8rem 2rem;
}
.btn-primary {
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover {
    box-shadow: none;
    color: #fff;
}
.btn-round {
    border-radius: 30px;
}
.btn-primary.btn-simple {
    background-color: transparent;
}
.btn-primary.btn-simple:hover{
    color: #fff;
}
.btn.btn-default {
    color:#fff;
    background-color: #777;
}
.btn.btn-primary {
}
.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
.width-full{
    width:100%;
    height:auto;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}
.carousel .carousel-inner {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.carousel-control-prev,
.carousel-control-next{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.carousel-control-prev .funky-ui-icon,
.carousel-control-next .funky-ui-icon{
    font-size: 2rem;
}
.carousel-indicators li {
    height: 8px !important;
    bottom: 150px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.form-control {
    font-family: 'mini_serif_regular', serif;;
    font-weight:400;
    font-size: .8rem;
    line-height: 1.25;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    height: auto;
    color: white;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    outline: none;
}
.form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}
.navbar {
    padding: 0.8rem 2rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0.125rem;
}
.navbar .nav-item {
    margin-left: 2px;
    margin-right: 2px;
}
.navbar-brand {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1rem;
    font-family: 'mini_sans_regular', sans-serif;
}
.bg-inverse {
    background-color: #060606 !important;
}
.navbar-toggler {
    cursor: pointer;
    padding: 6px 0.75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    border: none;
    outline: none;
}
.accordion-style{
    position: relative;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}
.accordion-style .card {
    background-color: #fff;
    border: none;
    border-radius: 0;
}
.accordion-style .card-block {
    padding: 2rem;
}
.accordion-style .card-header{
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
}
.accordion-style .card-header{
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
}
.accordion-style .card-header a{
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 1.3rem 2rem;
    background-color: #f9f9f9;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #212121;
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.accordion-style .card-header a:hover{
    color: #fff;
}
.accordion-style .card-header a[aria-expanded="true"]{
    color: #fff;
}
.accordion-style .card-header a[aria-expanded="true"]:before,
.accordion-style .card-header a[aria-expanded="true"]:after{
    background-color:#fff;
}
.accordion-style .card-header a:hover:before,
.accordion-style .card-header a:hover:after{
    background-color:#fff;
}
.accordion-style .card-header a[aria-expanded="true"]:before{
}
.accordion-style .card-header a[aria-expanded="true"]:after{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.accordion-style .card-header a:before {
    content: '';
    width:24px;
    height:1px;
    background-color:#000;
    top:50%;
    right: 25px;
    position:absolute;
    z-index:1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.accordion-style .card-header a:after {
    content: '';
    width:1px;
    height:24px;
    background-color:#000;
    bottom:50%;
    margin-bottom:-12px;
    right:37px;
    position:absolute;
    z-index:1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.accordion-style.dark .card {
    background-color: #212121;
}
.accordion-style.dark .card-header{
    background-color: #323232;
}
.accordion-style.dark .card-header a{
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    background-color: #323232;
    color: #fff;
}
.accordion-style.dark .card-block {
    color: #fff;
}
.accordion-style.dark .card-header a:after,
.accordion-style.dark .card-header a:before {
    background-color:#fff;
}
.section {
    position:relative;
    width:100%;
}
.over-hide{
    overflow:hidden;
}
.full-height {
    height:100vh;
}
.padding-top-bottom {
    padding-top:120px;
    padding-bottom:120px;
}
.padding-top {
    padding-top:120px;
}
.padding-bottom {
    padding-bottom:120px;
}
.padding-bottom-big {
    padding-bottom:160px;
}
.padding-top-bottom-small {
    padding-top:80px;
    padding-bottom:80px;
}
.padding-top-small {
    padding-top:80px;
}
.padding-bottom-small {
    padding-bottom:80px;
}
.padding-top-bottom-smaller {
    padding-top:40px;
    padding-bottom:40px;
}
.padding-top-smaller {
    padding-top:40px;
}
.padding-bottom-smaller {
    padding-bottom:40px;
}
.padding-top-bottom-1 {
    padding-top:1px;
    padding-bottom:1px;
}
.background-white {
    background-color:#ffffff;
}
.background-grey {
    background-color:#fbfbfb;
}
.background-dark {
    background-color:#212121;
}
.background-dark-1 {
    background-color:#323232;
}
.background-dark-2 {
    background-color:#1b1b1b;
}
.background-black {
    background-color:#000000;
}
.background-black-1 {
    background-color:#121212;
}
.background-image-cover {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.rounded-2 {
    border-radius: 0.5rem;
}
.rounded-3 {
    border-radius: 0.75rem;
}
.rounded-4 {
    border-radius: 1rem;
}
.max-width-90 {
    max-width: 90vw;
}
.color-white {
    color:#fff;
}
.color-black {
    color:#000000;
}
.img-wrap  {
    position:relative;
    width:100%;
}
.img-wrap img {
    width:100%;
    display:block;
}
.light-fade-over{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#fff;
    opacity:.7;
    z-index:300;
}
.light-fade-over-2{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#fff;
    opacity:.3;
    z-index:300;
}
.light-fade-over-3{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#fff;
    opacity:.5;
    z-index:300;
}
.z-bigger  {
    z-index:1000;
}
.z-bigger-2  {
    z-index:1010;
}
.text-center {
    text-align:center;
}
/* #Template navigation
================================================== */
#menu-wrap{
    position: fixed;
    width:100%;
    z-index:5000;
    margin:0 auto;
    top:0;
    left:0;
}

#menu-wrap .navbar-brand img{
    display: block;
    max-height: 50px;
    width: auto;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
#menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img{
    max-height: 50px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header {
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink {
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.white-menu-background-1st-trans {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-shadow{
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.04);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.white-menu-background-1st-trans {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-fixed-padding {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-fixed-padding-small-same {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.menu-fixed-padding-small {
    padding-top: 30px;
    padding-bottom: 10px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink.menu-fixed-padding-small-same {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .bg-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header .bg-inverse.not-transparent {
    background-color: rgba(0, 0, 0, 1) !important;
    padding: 0.8rem 1.4rem;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .bg-inverse.not-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0.8rem 0;
    -webkit-transition : all 0.3s ease-out;
    -moz-transition : all 0.3s ease-out;
    -o-transition :all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.cbp-af-header .navbar {
    padding: 0.8rem 0;
    box-shadow: none;
    border-radius: 0;
}
.cbp-af-header .navbar .nav-item .dropdown-menu {
    padding: 1rem;
    margin-top:15px;
}
.cbp-af-header .navbar .nav-item.mega-menu .dropdown-menu {
    padding: 0;
}
.cbp-af-header .navbar .nav-item .dropdown-menu a {
    padding-left: 0.6rem;
}
.cbp-af-header .navbar .dropdown-menu {
    font-size: 0.78rem;
}
.cbp-af-header .navbar .dropdown-menu i{
    width: 0.9rem;
}
.cbp-af-header .navbar-toggler-left {
    left: 0;
}
.cbp-af-header .navbar-toggler-right {
    right: 0;
}
.cbp-af-header .navbar-toggler {
    padding: 6px 0;
}
.hero-center-wrap{
    position:absolute;
    width:100%;
    top:50%;
    left:0;
    z-index:20;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-center-wrap.z-bigger{
    z-index: 1002;
}
.hero-center-wrap.move-bottom{
    margin-top: 40px;
}
.hero-center-wrap.move-top{
    margin-top: -40px;
}
.hero-center-wrap.move-top-2{
    margin-top: -20px;
}
.main-title{
    margin-bottom: 4.5rem;
}
.main-title.no-subtitle{
    margin-bottom: 2.5rem;
}
.main-title h2,
.main-title h3,
.main-title h4,
.main-title h5{
    max-width: 800px;
    width: 100%;
    text-transform: capitalize;
}
.main-title.on-dark h2,
.main-title.on-dark h3,
.main-title.on-dark h4,
.main-title.on-dark h5{
    color: #fff;
}
.main-title.text-center h2,
.main-title.text-center h3,
.main-title.text-center h4,
.main-title.text-center h5{
    margin: 0 auto;
}
.main-subtitle-top{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero-slider-wrap {
    position:relative;
    width:100%;
}
#hero-sync1 .item {
    position: relative;
    width: 100%;
    display: block;
}
/* #Services
================================================== */
.services-box-1{
    position: relative;
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.35rem;
}
.services-box-1 .text-padding-with-img{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.services-box-1.dark p,
.services-box-1.background-dark p{
    color: #dcdcdc;
}
.services-box-1.border-on-light{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.services-box-1.border-on-light.border-on-hover{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.services-box-1.dark{
    border: 1px solid rgba(255, 255, 255, 0.06);
}
.services-box-1 .btn-link{
    padding-left: 0;
}
.services-box-1 i{
    font-size: 40px;
}
.services-box-1 .icon-in-box {
    height: 90px;
    width: 90px;
    background-color: #fff;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.services-box-1:hover .icon-in-box {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}
.services-box-1 .icon-in-box i{
    font-size: 35px;
    line-height: 90px;
    text-align: center;
}
/* #Half Height Blocks
================================================== */
.row-in{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.padding-on-grid-12{
    padding-left: 12%;
    padding-right: 12%;
}
/* #Media
================================================== */
@media (max-width: 1500px) {
    .hero-text-studio h2{
        font-size: 3rem;
        line-height: 3rem;
    }
}
@media (max-width: 1300px) {

    .hero-text.big-text h1{
        font-size: 5.5rem;
        line-height: 4.5rem;
    }
    .hero-text.big-text p{
        font-size:14px;
    }

}
@media (max-width: 1050px) {

    .hero-text-studio h2{
        font-weight:700;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
    .hero-text h2.typed{
        font-size: 2rem;
        line-height: 2rem;
    }

}
@media (max-width: 991px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3 {
        font-size: 1.7rem;
    }
    h4, .h4 {
        font-size: 1.5rem;
    }
    h5, .h5 {
        font-size: 1.2rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }

    .hero-center-wrap.move-bottom{
        margin-top: 0;
    }
    .full-height {
        height:calc(100vh - 68px);
    }

    .navbar-nav{
        padding-top: 15px;
    }
    .navbar .nav-item {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu {
        position: relative;
        top: auto;
        opacity: 1;
        box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0);
        padding: 0.8rem;
        border-radius: 0;
        visibility: visible;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu.right {
        left: auto;
    }
    .navbar-toggleable-md .dropdown-menu .sub-menu-wrap .sub-menu.left {
        right: auto;
    }
    .dropdown-menu .sub-menu-wrap:after {
        display: none;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    .hero-text p{
        font-size:12px;
    }
    .hero-text p span{
        padding:6px 8px;
    }
    .hero-text.big-text h1{
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .hero-text.big-text p{
        font-size:14px;
    }

    .hero-text-studio h2{
        font-weight:700;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .hero-text-studio p{
        font-size:15px;
        font-weight:400;
    }
    #hero-sync2 .item {
        display: none;
    }
    .column-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 767px) {
    h1, .h1 {
        font-size: 2.2rem;
    }
    h2, .h2 {
        font-size: 1.8rem;
    }
    h3, .h3 {
        font-size: 1.5rem;
    }
    h4, .h4 {
        font-size: 1.3rem;
    }
    h5, .h5 {
        font-size: 1.1rem;
    }
    h6, .h6 {
        font-size: 0.85rem;
    }

    .grid-box.half{
        width: 100%;
    }
    .grid-box.half.with-margin{
        width: calc(100% - 30px);
    }

    .hero-text.big-text h1{
        font-size: 2.5rem;
        line-height: 2rem;
        font-weight: 700;
    }
    .hero-text.big-text p{
        font-size:13px;
    }
    .hero-text h2.typed{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .hero-bottom-wrap h2{
        line-height: 0.9;
    }
    .column-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
}
/*Model Part*/
.row-model {
    display: flex;
    flex-wrap: wrap;
}
.col-model {
    flex: 1 0 18%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1500px){
    .col-model {
        flex: 1 0 18%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1300px){
    .col-model {
        flex: 1 0 18%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1050px){
    .col-model {
        flex: 1 0 36%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 991px){
    .col-model {
        flex: 1 0 54%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .col-model {
        flex: 1 0 54%;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.model{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.model:hover{
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.13);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

.video-section {
    position: relative;
    width:100%;
    margin:0 auto;
    max-width:800px;
}
.video-wrapper, figure.vimeo, figure.youtube {
    margin:0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.youtube a img, figure.vimeo a img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    max-width:none;
}
figure.vimeo a:after, figure.youtube a:after {
    content:"";
    width:60px;
    height:60px;
    background:#fff;
    z-index:9;
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -30px;
    border-radius:50%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.25);
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 700ms linear;
    transition: all 500ms linear;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
    box-shadow: 0px 0px 0px 1000px rgba(255,255,255,0.1);
}
figure.vimeo a:before, figure.youtube a:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index:10;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-3px;
    margin-top:-7px;
    display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
figure.vimeo:hover a:before, figure.youtube:hover a:before {
    border-left: 10px solid #fff;
}
figure.vimeo a:hover img, figure.youtube a:hover img {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
figure.vimeo a img, figure.youtube a img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    a -webkit-transform: scale(1);
    transform: scale(1);
}

/*FixButton*/
#fixButton{
    position:fixed;
    right:0;
    top:50%;
    margin-top:-40px;
    z-index:999;
}
#fixButton>div{
    float:right;
    clear:both;
}
#fixButton a{
    display:block;
    clear:both;
    font-size:12px;
    height:36px;
    overflow:hidden;
    margin-bottom:5px;
    width:auto;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
#fixButton a img{
    float:left;
    height:36px;
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}
#fixButton a span{
    color:#fff;
    background:black;
    line-height:36px;
    padding:0 0px;
    float:left;
    text-transform:uppercase;
    display:block;
    width:0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
#fixButton a:hover span{
    width:auto;
    opacity:1;
    padding:0 10px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;}








